<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <!-- Mobile menu button -->
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
          <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
            <!-- Mobile menu button-->
            <!-- Evento de clic para alternar el menú -->
            <button
              (click)="toggleMenu()"
              class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="block h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                />
              </svg>
            </button>
          </div>
          <!-- Resto del contenido -->
        </div>
      </div>

      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex-shrink-0">
          <img class="h-12 w-auto" src="logo.webp" alt="Your Company" />
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a
              routerLink="/"
              routerLinkActive="bg-gray-900 text-white"
              [routerLinkActiveOptions]="{ exact: true }"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >
              Inicio
            </a>
            <a
              routerLink="/propuestas"
              routerLinkActive="bg-gray-900 text-white"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >
              Propuestas
            </a>
            <a
              routerLink="/equipo"
              routerLinkActive="bg-gray-900 text-white"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >
              Equipo
            </a>
            <a
              routerLink="/eventos"
              routerLinkActive="bg-gray-900 text-white"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >
              Eventos
            </a>
            <a
              routerLink="/contacto"
              routerLinkActive="bg-gray-900 text-white"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >
              Contactos
            </a>
          </div>
        </div>

      </div>

      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <div></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Menú móvil -->
  <div *ngIf="isMenuOpen" class="sm:hidden">
    <div class="space-y-1 px-2 pb-3 pt-2 text-white">
      <!-- Llama a la función para cerrar el menú -->
      <!-- Agregar estilos dinámicos -->
      <a
        routerLink="/"
        routerLinkActive="active-link"
        (click)="closeMenu()"
        class="block rounded-md px-3 py-2 text-base font-medium"
        [ngClass]="{ 'bg-white text-gray-900': isMenuActive('/') }"
      >
        Inicio
      </a>
      <a
        routerLink="/propuestas"
        routerLinkActive="active-link"
        (click)="closeMenu()"
        class="block rounded-md px-3 py-2 text-base font-medium"
        [ngClass]="{ 'bg-white text-gray-900': isMenuActive('/propuestas') }"
      >
        Propuestas
      </a>
      <a
        routerLink="/equipo"
        routerLinkActive="active-link"
        (click)="closeMenu()"
        class="block rounded-md px-3 py-2 text-base font-medium"
        [ngClass]="{ 'bg-white text-gray-900': isMenuActive('/equipo') }"
      >
        Equipo
      </a>
      <a
        routerLink="/eventos"
        routerLinkActive="active-link"
        (click)="closeMenu()"
        class="block rounded-md px-3 py-2 text-base font-medium"
        [ngClass]="{ 'bg-white text-gray-900': isMenuActive('/eventos') }"
      >
        Eventos
      </a>
      <a
        routerLink="/contacto"
        routerLinkActive="active-link"
        (click)="closeMenu()"
        class="block rounded-md px-3 py-2 text-base font-medium"
        [ngClass]="{ 'bg-white text-gray-900': isMenuActive('/contacto') }"
      >
        Contacto
      </a>
    </div>
  </div>
</nav>
