.equipo {
  padding: 40px;
  text-align: center;
  background-color: #0072ff;
  color: white;
}
.equipo-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.equipo-member {
  margin: 20px;
  text-align: center;
}
.equipo-member img {
  width: 150px;
  border-radius: 50%;
}

.equipo-section {
  background-image: url('../../../public/logo.webp');
  background-size: contain; /* Ajusta la imagen para que no se corte */
  background-position: center 150px; /* Centramos la imagen y la colocamos 150px abajo del top */
  background-attachment: fixed; /* Esto asegura que la imagen esté fija mientras haces scroll */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  min-height: 100vh; /* Hace que el fondo ocupe al menos la altura completa de la pantalla */
  padding-top: 50px; /* Esto da espacio desde el navbar */
}

@media (max-width: 768px) {
  .equipo-section {
    background-position: center 50px; /* Ajustamos la posición en móviles */
  }
}
